# Ejercicio 1: Transformar cadenas

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [12]:
# divide el texto en oraciones
oraciones = text.split(".")

In [14]:
#Palabras clave
claves = ['average', 'temperature','distance']

In [15]:
#Ciclo que imprime datos sobre la luna
for datos in oraciones:
    for clave in claves:
       if clave in datos:
            print(datos)

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [16]:
#Ciclo que cambia C a celsius
for datos in oraciones:
    for clave in claves:
        if clave in datos:
            print(datos.replace('C', 'Celsius'))

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

# Ejercicio 2: Formateando cadenas

In [2]:
planeta = "Tierra"
gravedad = 0.00162 #in kms
nombre = "Luna"

In [3]:
#Genera titulo
titulo = f"Datos de gravedad sobre {nombre}"

In [5]:
# Crea plantilla
cadena = f'''{'-'*80}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad * 1000} m/s2
'''

In [6]:
# Union de cadenas
plantilla = f'''{titulo.title()}
{cadena}'''

In [7]:
# Muestra resultado
print(plantilla)

Datos De Gravedad Sobre Luna
--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [8]:
# Info diferente 
planeta = 'Marte'
gravedad = 0.00143
nombre = 'Ganimedes'

print(plantilla)

Datos De Gravedad Sobre Luna
--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [9]:
# genera nueva plantilla 
plantilla2 = '''
Datos de gravedad sobre :{nombre}
------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
'''

In [11]:
# Prueba de nueva plantilla usando format
print(plantilla2.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de gravedad sobre :Ganimedes
------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganimedes: 1.4300000000000002 m/s2